//  Imports 
@import 'partials/mixins';
@import 'susy';
@import 'partials/base';
@import 'partials/footer';
@import 'partials/header';
@import 'partials/nav';
@import 'partials/typography';
@import 'partials/font-awesome/font-awesome';
@import 'partials/socialSharingButton';
@import 'partials/standard_WPClass';

//Template Styles
@import 'templateStyles/_standard_page_&_single';

// JS Plugin Stylesheets 
@import 'plugin/glideSlider';
@import 'plugin/glideSliderCustom';
@import 'plugin/contactForm7';
@import 'plugin/tablepress';

/*---
		Sections
---*/
$susy: (
	columns: 12,
	gutters: 1/8,
	output: float,
	gutter-position: inside, 
);

@include layout($susy);

.section {
	display: block;
	width: 100%;
	padding: 2em $pad;
	@include clearfix;
	@include container(63.5em);
}

.section--fullWidth {
	@include container(100%);
	padding: 0;
	@include clearfix;
}

.section--fullWidthPadding {
	@include container(100%);
	padding: 2em 1.5%;
	@include clearfix;
}

.section--wide {
	@include container(100%);
	padding: 2em 1.5%;
	@include clearfix;

	@include breakpoint(large) {
		padding: 2em 8%;
	}

	@include breakpoint(extraLarge) {
		padding: 2em 12.5%;
	}
}

.section--hero {
	margin-top: $heroTopMargin;
}

.section--heroImage {
	margin-top: 6em;
}

.section--contactPage {
	@include container(100%);
	padding: 0;
	@include clearfix;
	margin-top: ($heroTopMargin - 16px);
}

.section--slider {
	position: relative;
}

.section__title {
	@include span(12);
	display: block;
	//text-align: center;
	margin-bottom: 1.75rem;
}

.section__title--homepage {
	@extend h2;
	text-align: center;
}

.section__title--blog {
	margin-left: 3%;
}

.section__title--left {
	text-align: left;
}

.section__title--center {
	text-align: center;
	padding: 1em;
}

.columnContainer {
	padding: 0 $pad;
}

.column {
	@include layout(after);
	@include span(12 of 12);
	margin-bottom: 1.5em;
	
	@include breakpoint(medium_m) {
		margin-bottom: 0;
		padding-right: 2.5%;
	}
}

.column__one {
	@include breakpoint(medium_m) {
		@include span(4 of 12);
	}
}

.column__two {
	@include breakpoint(medium_m) {
		@include span(4 of 12 at 4);
	}
}

.column__three {
	@include breakpoint(medium_m) {
		@include span(4 of 12 at 8 last);
	}
}

/*---
		Homepage
---*/

// ImageHero
.homepageHeader__container {
	height: 100%;
	//position: absolute;
	//top: 0;
	//left: 0;
	display: block;
	text-align: center;
	width: 100%;
	padding: 4vh 0;
	//z-index: 10;
	//background-color: rgba($main, 0.15);
}

.homepageHeader {
	@extend h1;
	color: $main;
    //text-shadow: 0px 0px 42px rgba(0, 0, 0, 0.75);
	//left:0;
	//right:0;
	text-align: center;
	margin-bottom: 0;
	max-width: 700px;
	font-size: 2rem;
	line-height: 2.75rem;
	//z-index: 1;
	//position: absolute;
	//top:50%;
	//transform: translateY(-50%);

	@include breakpoint(medium_m) {
		//padding: 0em 20%;
	}
}

.imageHero {
	display: block;
	height: 76vh;
	position: relative;
	@include breakpoint(medium) {
		height: 60vh
	}
}

//.imageHero__link:hover > .imageHero__overlay {
//	background-color: rgba($main, 0.5);
//}

.imageHero__imageContainer {
	float: left;
	width: 100%;
	height: 50%;
	position:relative;

	@include breakpoint(medium) {
		width:50%;
		height: 100%;
	}
}

.imageHero__schoolTitle {
	@include v-a;
	position: absolute;	
	width: 100%;
	//margin-bottom: 0;
	padding: 0.5em 0.25rem 0.2em;
	//bottom: 0;
	z-index: 2;
	text-align: center;
	color: #fff;
	//background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.65));
	text-shadow: 0px 0px 42px rgba(0, 0, 0, 0.9);
	font-weight: 700;

	@include breakpoint(small) {
		font-size: 2rem;
	}
}

//.imageHero__schoolTitle--top {
//	@include breakpoint(small) {
//		top: 0;
//		bottom: 75%;
//		//background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), transparent);
//	}
//}

.imageHero__image {
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	object-fit: cover;

	@include breakpoint(medium){
		position: absolute;
	}
}

.imageHero__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba($main, 0.2);
    @include trans(0.65s);
    transition-delay: 0.15s;

    &:hover {
    	background-color: rgba($main, 0.5);
    }
}

.imageHero__overlay--noHover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba($main, 0.25);

    //@include breakpoint(large) {
	//	width: 50%;
    //}
}


.imageHero__schoolNames {
	width: 100%;
}

.imageHero__schoolNameLeft {
	width: 50%;
	//display: inline-block;
	float: left;
	height: 100%;
}

.imageHero__schoolNameRight {
	width: 50%;
	//display: inline-block;
	float: left;
}

.imageHero__schoolNameLeft h2, .imageHero__schoolNameRight h2 {
	width: 100%;
	text-align: center;
}


// Intro
.textContainer {
	display: block;
 	max-width: 700px;
 	margin: auto;
 	padding-top: 3em;

 	& p {
 		margin-bottom: 1.5em;
 	}
}

.textContainer__title {
	@extend h2;
	text-align: center;
	display: block;
	font-size: 2.7em;
	text-transform: none;
}

//Quick Links

.section--quickLinks {
	background-color: #f1f1f1;
	//border-top: 1px solid $grey_l;
	//border-bottom: 1px solid #ccc;
}

.section--quickLinks h2 {
	text-align: center;
	display: block;
	padding-top: 0.6em;
	padding-bottom: 0;
	margin-bottom: 0;
}

.imageQuickLink {
	width:span(12);
	background-color: #f1f1f1;
	padding-bottom: 0.5%;
	border-bottom: 1px solid $grey_l;
	
	@include breakpoint(medium) {
		width: span(4);
		float: left;
		
		&:nth-child(3) {
			width: span(4 last);
		}
	}

}

 .imageQuickLink__title {
 	text-align: center;
 	display: block;
 }

 .imageQuickLink__image {
 	width: 100%;
 	height: 300px;
 	object-fit: cover;
 	padding: 5%;
 }

 //Blog Posts

.blogPost {
	width: span(12);
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 20px;
	
	@include breakpoint(medium) {
		width: span(4);
		float: left;
		padding: 0 2.5% 2.5%;
		margin-bottom: 0;
		// &:nth-child(3) {
			// width: span(4 last);
		// }
	}
}

.blogPost--footer {
	@include span(12);
	@include clearfix;
	padding: 0 0 1.5rem;
}

.blogPost__image {
 	width: 100%;
 	height: 300px;
 	object-fit: cover;
	margin-bottom: 1.5em;
 }

 .blogPost__image--footer {
 	height: 70px;
 	width: 100px;
 	margin-bottom: 1.5em;
 }

 .blogPost__title--footer {
 	@extend .footer__footerTitle--title;
	margin-bottom: 1em;
 	font-weight: 400;
 	font-size: 1.0rem;
 	color: #cdcdcd!important;
 	text-transform: none;
 }

 .blogPost__text {
	font-size: 1rem;
	margin-bottom: 1em;
}

.button {
 	display: inline-block;
 	background-color: $main;
 	padding: 0.75em 2.5em;
 	border-radius: 0.3rem;
 	text-decoration: none;
 	color: white;
 	transform: translateY(0);
 	@include trans;
 	
 	&:hover {
		background-color: lighten($main, 10%);
		color: white;
		transform: translateY(-4px);
	}	
}

.button--small {
	padding: 0.5em 1.0em;
	font-size: 0.875em;
}

.button--zones {
	color: #fff;
	width: 100%;
	padding: 0.95em 0.5em 0.95em 3.0em;
	max-width: 200px;


	&:hover::before {
		opacity: 0.95;
	}

	&:before {
		position: absolute;
			//background-image: url(../img/zone-icons/governor.svg);
    	background-size: 2em 2em;
    	background-repeat: no-repeat;    
    	width: 2em;
    	height: 2em;
    	content: "";
    	padding: 0 2.5em 0 0;
    	left: 0.5em;
    	top: 0.5em;
    	opacity: 0.75;
    	@include trans;
	}
}
 
/*---
		Index
---*/
.section--blogPage {
	@include layout(5 1/4 float inside);
	margin-top: 10em;
}

.blogArticlesContainer {
	@include span(5);
	@include clearfix;

	@include breakpoint(medium) {
		@include span(3.8);
	}
}

.blogPost--2column {
	@include span(5);
	padding-bottom: 3em;
	margin-bottom: 3em;
	@include clearfix;
	min-height: 600px;

	//&:nth-child(2n) {
	//	@include last;
	//}
	
	@include breakpoint(medium) {
		@include span(2.5);
	}

}

.blogPost__image {
	margin-bottom: 1em;
}

.blogPost__title {
	//@extend h3;
	display: block;
	margin-bottom: 0.4rem;
	font-size: 1.4rem;
	line-height: 1.75rem;
    color: #555555;
}

.blogPost__date {
	display: block;
	font-size: 0.7em;
	margin: 0 0 1.25em;
}

.sidebar {
	@include span(5);
	
	@include breakpoint(medium) {
		@include span(1.2 last);
		border-left: solid 1px $grey_l;
		padding-left: 3%;
		//margin-right: 0;
		//float: right;
	}
}

.sidebar__heading, .sidebar__uList {
	display: block;
}

.sidebar__uList {
	margin-bottom: 3em;
}

.cat-item, .sidebar__uList li {
	margin-bottom: 0.5em;
}

.breadcrumbs--archive {
	margin-left: 3%;
}



/*---
		Calander
---*/

//Each list item in widget
.ai1ec-agenda-widget-view .ai1ec-date, .ai1ec-agenda-view .ai1ec-date { 
	background: none;
	padding-bottom: 0.75rem;
	border-top: 0px;
	border-bottom: 1px solid #e5e5e5;
}

.ai1ec-date {
	padding-top: 1.25rem;
}


//Calendar icon
a.ai1ec-date-title.ai1ec-load-view {
	background: none;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2)!important;
	border: none;
	margin: 0.5em 0.75rem 0.5em 0;
}

//calendar icon top
.ai1ec-agenda-widget-view .ai1ec-month, .ai1ec-agenda-view .ai1ec-month {
	background: rgba(242,56,90,0.75);
}

//Text
.ai1ec-agenda-widget-view .ai1ec-event > a {
	border: none;
	font-size: 0.95rem;
}

/*---
		Footer Calendar Events
---*/
// event text bg
.footer a.ai1ec-date-title.ai1ec-load-view {
	background-color: darken(#fff, 15%);
}

// event text first
.ai1ec-date:first-of-type {
	padding-top: 0;
}

// event text
.footer .ai1ec-agenda-widget-view .ai1ec-event > a {
	background-color: transparent;
	padding: 0.5em;
	color: #9bd3e9;
    opacity: 0.75;
    transition: all 0.2s ease-in-out;

    &:hover {
    	opacity: 1;
    }
}

//View calednar button
.timely .ai1ec-btn-default {    
	background-color: #9bd3e9;
	color: #222;
    opacity: 0.75;
    transition: all 0.2s ease-in-out; 

    &:hover {
		opacity: 1;
    }
}

/*---
		Contact Page
---*/

#mapCanvas {
	width: 100%;
  	height: 300px !important;
  	margin-bottom: 3em;

  	@include breakpoint(large) {
		height: 450px;
  	}
}

.contactPage__details {
	@include container(62.5em);
	padding: 0px $pad;
	margin-bottom: 4em;
}

.contactPage__column {
	width: 100%;
	margin-bottom: 2em;

	@include breakpoint(medium) {
		width: 50%;
		float: left;
		margin-bottom: 0;
		padding-right: 2.5%;
	}
}

.contactFieldL {
	width: 100%;

	@include breakpoint(medium) {
		width: 47.5%;
		margin-right: 2.5%;
		float: left;
		@include clearfix;
	}
}

.contactFieldR {
	@extend .contactFieldL;
}

.contactItemContainer {
	margin-left: 2em;
}

.contactPage__contactFormContainer {
	@extend .contactPage__details;
}

.wpcf7-text {
    width: 100%;
	margin: 0 0% 1.25em 0;
	//margin-right: 1.25em;
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
	border: none;
	background-color: #eee;
	box-shadow: inset 0 0 1px rgba($black, 0.1);

	@include breakpoint(small) {
		margin-bottom: 0;
	}	
}

.wpcf7-textarea {
	@extend .wpcf7-text;
	height: 93px;
}

.contactButton {
	border: none;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
    margin-bottom: 0;
	border-radius: 0;
	width: 100%;
	//margin-right: 2%;
	margin-top: 0;
	background-color: #ffb200;
	color: #fff;
	@include trans;
	
	&:hover {
		background-color: #ffa200;
	}
}




/*---
		Team Members Page
---*/
.teamMembersContainer {
	display: block;
	width: 100%;
	margin-bottom: 5em;
	@include clearfix;
}

.teamMemberContainer {
	@include span(12 of 12);
	@include layout(12 1/4 float after);
	position: relative;

	@include breakpoint(large) {
		@include span(6 of 12);
		width: 50%;
		margin: 0;
		padding: 0;

		&:nth-child(2n) {
			@include span(6 at 6 of 12 last);
		}
	}
}

.teamMember__text {
	@include span(12);
	@include v-a;
	position: absolute;
	z-index: 1;
    padding: 1em 0.5em;

	@include breakpoint(medium) {
		@include span(6 of 12 );
		padding: 1em 0.85em;
	}

	//@include breakpoint(large) {
	//	@include span(3 of 12);
//
	//	&:nth-child(2n) {
	//		@include span(3 at 6 of 12);
	//	}
	//}
}

.teamMember__imageContainer {
	@include span(12);
	position: relative;

	@include breakpoint(medium) {
		@include span(6 at 6 of 12 last);
		position: relative;
		width: 50%;
	}

	.imageHero__overlay {
		@include breakpoint(medium) {
			width: 100%;
		}
	}

	//@include breakpoint(large) {
	//	@include span(3 at 6 of 12);
//
	//	&:nth-child(2n) {
	//		@include span(3 at 9 of 12 last);
	//	}
	//}
}

.teamMember__image {
	display: block;
	height: 300px;
	width: 100%;
	//max-width: 250px;
	margin: 0 auto;
	object-fit: cover;
	opacity: 0.9;
}

.coloredSquare {
	height: 300px;
}

.teamMember__name {
	width: 100%;
    text-align: center;
    
    @include breakpoint(small) {
    	color: #fff;
    	text-shadow: 2px 2px 42px rgba(255, 255, 255, 0.9);
    }	
}

.teamMember__name--mobile{
	display: block;

	@include breakpoint(medium) {
		display: none;
	}
}

.teamMember__name--gridItem {
	display: none;

	@include breakpoint(medium) {
		display: block;
		@include v-a;
		position: absolute;
		color: #fff;
		z-index: 999;
	}	
}

.teamMember__title {
	width: 100%;
	font-size: 0.95rem;
	display: block;
	text-align: center;

	@include breakpoint(small) {
		color: #fff;
		text-shadow: 2px 2px 42px rgba(255, 255, 255, 0.9);
	}
}

.teamMember__bio {
	text-align: center;

	@include breakpoint(small) {
		color: #fff
	}
}

.teamMember__text--hover {
	transform: translateY(0);
	@include trans; 

	&:hover {
		transform: translateY(-5px);
	}
}

.teamMember__bio--hover {
	opacity: 1;
	@include trans;

	&:hover {
		opacity: 0.7;
	}
	//@include breakpoint(medium) {
	//	padding: 0;
	//}
}

//.profile--icon {
//	font-size: 19em;
//	@include v-a;
//	text-align: center;
//	margin-left: auto;
//	margin-right: auto;
//	position: absolute;
//	display: block;
//}

/*---
		Calendar
---*/
.ai1ec-tag-filter {
	display: none!important;
}		

.ai1ec-date > a {
	color: #fafafa;
}

//.ai1ec-dropdown-menu:nth-child(3) {
//	display: none;
//}

.extracurricularEventsContainer .ai1ec-dropdown-menu div:nth-child(1),   
.extracurricularEventsContainer .ai1ec-dropdown-menu div:nth-child(2),
.extracurricularEventsContainer .ai1ec-dropdown-menu div:nth-child(5)
{
	display: none;
}


/*---
		Zones
---*/
.zonePageTitle {
	padding-left: 1.5rem;
}

.zoneContainer {
	margin-bottom: 4em;
}

.zone__title {
	//font-size: 2.5rem;
	//text-align: center;
	width: 100%;

	//@include breakpoint(medium_m) {
	//	text-align: left;
	//}
}

.zone__image {
	display: block;
	//margin: 0 auto 1em;
	margin: 0 0 1em;
	object-fit: cover;
}

.zone__copy {
	margin-bottom: 0.5em;
}

.zone__button {
	display: block;
	//margin: 0 auto;
	text-align: center;
	position: relative;
	max-width: 200px;

	@include breakpoint(large) {
		width: 100%;
	}
}

.buttonZones--gov:before {
	background-image: url(../img/zone-icons/governor.svg);
}

.buttonZones--pta:before {
	background-image: url(../img/zone-icons/parent.svg);
}

.buttonZones--pol:before {
	background-image: url(../img/zone-icons/policies.svg);
}

.buttonZones--gen:before {
	background-image: url(../img/zone-icons/general.svg);
}

.buttonZones--lve:before {
	background-image: url(../img/zone-icons/love-to-learn-3.svg);
}

.buttonZones--parent:before {
	background-image: url(../img/zone-icons/pta-2.svg);
}