.wpContentContainer {
	
	ol, ul {
		list-style: inherit;
		padding: 1em 0 0 1.75em;

	li {
		@extend p;
		margin-bottom: 0.75em;
    	line-height: 1.25;
		}
	}	

	p {
		margin-bottom: 1.5em;
	}
}

/*---
		Slider Page
---*/

.glide {
	margin-top: 5em;
}

.entry-content {
	@include container(62.5em);
}

.breadcrumbs {
	font-size: 0.8em;
	color: #999;
	margin: 1.5em 0 2em;

	@include breakpoint(desktop) {
		margin: 1.5em 0 2em -1.5em;
	}
 	
 	li {
		display: inline-block;
		margin-right: 1.25em;
	}	
}

.glide__slide__img {
	width: 100%;
	object-fit:cover;
}

.pageSlider__image {
	height: 350px;
	background-color: $black;
}

.pageSlider__image--dark {
	background-color: #fafafa;	
}

//.post__imageWrapper {
//	height: 300px;
//	margin-bottom: 1em;
//}
//
.single__image, .post__image {
	height: 100%;
	width: 100%;
	object-fit:cover;
}

.single__image--overlay {
	opacity: 0.75;
}
//
//.single__title {
//	margin-bottom: 5px;
//}
//
//.single__date {
//	display: block;
//	margin-bottom: 2em;
//	color: $grey_l;
//	font-size: 0.9em;
//	text-align: center;
//}

.homepage__imageWrapper {
	height: 200px;
}

.archive__title {
	margin-top: 5em;
	width: 100%;
}

.pageSlider__titlesContainer {
	//@include h-a;
	@include v-a;
	position: absolute;
	text-align: center;
	width: 100%;
}

.pageSlider__title {
	display: block;
	color: #fff;
	width: 100%;
	text-shadow: 0px 0px 45px rgba(50, 50, 50, 0.2)
}

.pageSlider__title--meta {
	margin-top: 0.75em;

	@include breakpoint(medium) {
		margin-top: 1.5em;
	}
}

.titles__pageTitle {
	margin-bottom: 0;
}

.titles__meta {
	display: block;
	color: #fff;

	@include breakpoint(medium) {
		display: inline-block;
		padding: 0.5em 2em;
    	width: 50%;
    	float: left;
    	text-align: left;
	}
}

.titles__meta--date {
	@include breakpoint(medium) {
		border-right: white 2px solid;
		text-align: right;
	}	
}

.slider__title--dark {
	color: $black;
	text-shadow: 0px 0px 42px rgba(#fff, 0.4);
	border-color: $black;
}

.wpContentContainer {
	display: block;
	margin: 0 auto;	
	width: 100%;
	max-width: 775px;
}