@charset "UTF-8";
/* Imports */
/* Mixins & variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-height: 100%;
  color: #353535; }

img {
  display: block;
  max-width: 100%; }

a {
  color: #52B3D9;
  transition: all 0.4s ease-in-out; }
  a:hover {
    color: #9bd3e9; }

/* Footer */
.footer {
  background-color: #050C1C;
  display: inline-block;
  padding: 2rem 1rem;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
  width: 100%;
  margin-bottom: -3px; }
  @media only screen and (min-width: 1024px) {
    .footer {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 2%; } }

.footer__innerContainer {
  width: 100%;
  padding: 1.5rem 1rem;
  overflow: hidden; }
  .footer__innerContainer:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 720px) {
    .footer__innerContainer {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%;
      padding: 2rem 1rem 4rem; }
      .footer__innerContainer:nth-child(2n) {
        padding-bottom: 0;
        width: 49.15254%;
        float: right;
        margin-right: 0; } }
  @media only screen and (min-width: 1024px) {
    .footer__innerContainer {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%; }
      .footer__innerContainer:nth-child(2n) {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%; }
      .footer__innerContainer:nth-child(4n) {
        float: right;
        margin-right: 0;
        padding-bottom: 0; } }

@media only screen and (min-width: 1024px) {
  .footer__innerContainer--small {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%; } }

@media only screen and (min-width: 1024px) {
  .footer__innerContainer--large {
    width: 27.9661%;
    float: left;
    margin-right: 1.69492%; } }

.footer__footerTitle {
  width: 100%; }

.footer__footerTitle--title, .blogPost__title--footer {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
  display: inline-block;
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  opacity: 0.75;
  color: #fafafa; }

.footer--footerCopy {
  display: block;
  margin-bottom: 1.5rem;
  line-height: 1.4em;
  width: 80%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  color: #fafafa;
  font-size: 1rem; }

.footer--socialLinks {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem); }

.footer--socialLinks--item {
  float: left; }
  .footer--socialLinks--item > i {
    color: yellow; }

.socialIcon {
  color: #fafafa;
  margin-right: 1rem;
  font-size: 1.5rem;
  position: relative;
  float: left;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.2s ease-in-out; }
  .socialIcon:visited, .socialIcon:active {
    color: #fafafa; }
  .socialIcon:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }

.fa-circle {
  color: #aaa; }

/*-----
		Footer contact
-----*/
.footerContact {
  margin-left: 2rem; }

.contactItem {
  width: 100%;
  padding-bottom: 1em;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3; }

.contactItem--footer {
  opacity: 0.75;
  color: #fafafa; }
  .contactItem--footer.contactIcon--phone:before, .contactItem--footer.contactIcon--email:before, .contactItem--footer.contactIcon--address:before {
    color: #a6d8eb;
    opacity: 0.75; }

.contactItem__link {
  color: #fafafa;
  position: relative; }
  .contactItem__link:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #0D4B9E;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  .contactItem__link:hover:after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

.contactIcon--phone:before, .contactIcon--email:before, .contactIcon--address:before {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: -1.5rem;
  opacity: 0.5;
  color: #0D4B9E; }

.contactIcon--phone--darker:before, .contactIcon--email--darker:before, .contactIcon--address--darker:before {
  color: #141414;
  opacity: 1; }

.contactIcon--phone:before {
  content: "\f095";
  font-family: "FontAwesome";
  font-size: 1rem;
  position: absolute; }

.contactIcon--email:before {
  content: "\f0e0";
  font-family: "FontAwesome";
  font-size: 1rem;
  position: absolute; }

.contactIcon--address:before {
  content: "\f041";
  font-family: "FontAwesome";
  font-size: 1rem;
  position: absolute; }

/*-----
		Footer opening times
-----*/
.openingTimes {
  color: #fff; }
  .openingTimes .openingTimes__row {
    display: block;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0.5em; }
    .openingTimes .openingTimes__row .openingTimes__day {
      padding-right: 2em;
      float: left; }
    .openingTimes .openingTimes__row .openingTimes__time {
      float: left; }

/*-----
		Footer email signup form
-----*/
#mc4wp-form-1 {
  margin: 0; }

.mc4wp-form input {
  display: block;
  font-size: 0.8rem; }

.mc4wp-form input[type=email] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  background: #fafafa;
  border: none;
  width: 70%;
  max-width: 300px;
  padding: 0.8rem 1rem;
  margin-bottom: 0.75rem; }
  @media only screen and (min-width: 720px) {
    .mc4wp-form input[type=email] {
      max-width: 250px; } }

.mc4wp-form input[type=submit] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  color: #fafafa;
  background: #52B3D9;
  border: none;
  width: 100%;
  max-width: 300px;
  padding: 0.8rem 1rem;
  transition: all 0.2s ease-in-out; }
  @media only screen and (min-width: 720px) {
    .mc4wp-form input[type=submit] {
      font-size: 1rem;
      max-width: 250px; } }

.homepage__cta .mc4wp-form input {
  max-width: 400px; }
  @media only screen and (min-width: 720px) {
    .homepage__cta .mc4wp-form input {
      max-width: 250px; } }

.mc4wp-form input[type=submit]:hover {
  background: #2d9fcb; }

/*---
		Footer nav
---*/
.footerMenu li {
  float: none;
  margin-bottom: 0.75em;
  padding: 0; }
  .footerMenu li a {
    color: #9bd3e9;
    opacity: 0.75;
    transition: all 0.2s ease-in-out; }
    .footerMenu li a:hover {
      opacity: 1;
      color: #bbe1f0; }
      .footerMenu li a:hover::after {
        color: #fafafa;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg); }

/*---
		Footer News Feed
---*/
.blogPostFooter__leftColumn {
  float: left; }
  @media only screen and (min-width: 720px) {
    .blogPostFooter__leftColumn {
      width: 38%; } }

.blogPostFooter__rightColumn {
  float: left;
  padding-left: 1em;
  width: 62%; }

/*---
		Footer Legal & Copyright
---*/
.footer__legal {
  display: block;
  float: left;
  width: 100%;
  margin: 2em 0; }
  .footer__legal:after {
    content: "";
    display: table;
    clear: both; }
  .footer__legal a {
    color: #fafafa;
    opacity: 0.75; }
    .footer__legal a:hover {
      color: #fff;
      opacity: 1.0; }
  .footer__legal .footer__legalColumn {
    width: 100%;
    padding: 0 0 1.5em;
    text-align: center; }
    @media only screen and (min-width: 720px) {
      .footer__legal .footer__legalColumn {
        float: left;
        width: 50%;
        padding: 0px 2.5em; } }
  @media only screen and (min-width: 720px) {
    .footer__legal .footer__legalColumn--left {
      text-align: right; } }
  @media only screen and (min-width: 720px) {
    .footer__legal .footer__legalColumn--right {
      text-align: left; } }

.footer__copyright {
  display: block;
  float: left;
  text-align: center;
  width: 100%;
  margin-bottom: 2em; }
  .footer__copyright a {
    color: #a6d8eb;
    opacity: 0.75; }
    .footer__copyright a:hover {
      color: #fafafa;
      opacity: 1; }

/*--- 
		Header 
---*/
.header {
  width: 100%;
  padding: 1rem 0 1rem 1.5rem;
  z-index: 9999;
  top: 0;
  position: fixed;
  background-color: #fafafa; }
  @media only screen and (min-width: 1024px) {
    .header {
      padding: 1rem 2.5rem; } }
  .header h1, .header .homepageHeader {
    float: left;
    width: auto;
    margin-bottom: 0; }

.headerShadow {
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.22), 0 5px 20px rgba(0, 0, 0, 0.25); }

.mainMenu {
  float: left;
  display: none;
  transition: all 0.2s ease-in-out; }
  @media only screen and (min-width: 875px) {
    .mainMenu {
      display: block;
      margin-left: 1.25rem; } }
  @media only screen and (min-width: 1360px) {
    .mainMenu {
      margin-left: 2.5rem; } }

.mobileMenu {
  display: block;
  transition: all 0.2s ease-in-out; }
  @media only screen and (min-width: 875px) {
    .mobileMenu {
      display: block;
      margin-left: 1.25rem; } }

.zonesMenu--header {
  position: absolute;
  right: 0; }
  .zonesMenu--header li {
    float: left;
    padding-right: 2em; }
    .zonesMenu--header li a {
      font-size: 0.85rem;
      opacity: 0.4; }
      .zonesMenu--header li a:hover {
        opacity: 0.85; }

@media only screen and (min-width: 875px) {
  #menu-main-menu {
    height: 84px; } }

.menu-item {
  float: left;
  padding-left: 1rem;
  list-style: none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media only screen and (min-width: 720px) {
    .menu-item {
      padding: 0 1.75rem 0 0; } }
  @media only screen and (min-width: 1024px) {
    .menu-item {
      padding: 0 3rem 0 0; } }
  @media only screen and (min-width: 1360px) {
    .menu-item {
      padding: 0 5rem 0 0; } }
  .menu-item a {
    font-size: 1.1rem;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    color: rgba(20, 20, 20, 0.6);
    position: relative;
    transition: all 0.3s ease-in-out; }
    .menu-item a:after {
      content: "\f078";
      font-family: "FontAwesome";
      font-size: 1rem;
      position: absolute;
      margin-left: 0.35em;
      color: rgba(20, 20, 20, 0);
      transition: all 0.3s ease-in-out; }
      @media only screen and (max-width: 719px) {
        .menu-item a:after {
          -webkit-transform: rotate(-90deg);
                  transform: rotate(-90deg); } }
    .menu-item a:hover {
      color: #141414; }
      .menu-item a:hover::after {
        color: rgba(13, 75, 158, 0.65); }

.menu-item-400 a:after, .menu-item-482 a:after {
  display: none; }

.subMenuContainer {
  display: block;
  position: fixed;
  width: 100%;
  min-height: 281px;
  top: 114px;
  background-color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.22), 0 10px 20px rgba(0, 0, 0, 0.25);
  border-top: solid 2px #dddddd;
  transition: opacity ease-in-out 0.5s;
  opacity: 0; }
  .subMenuContainer:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 719px) {
    .subMenuContainer {
      left: -120%; } }
  @media only screen and (min-width: 875px) {
    .subMenuContainer {
      top: -100%; } }

.subMenu--active {
  top: 114px;
  opacity: 1;
  z-index: 999; }
  @media only screen and (max-width: 719px) {
    .subMenu--active {
      left: 0%; } }

.subMenuContainer .mobileMenu__closeButton {
  display: block;
  left: 2rem;
  width: 100%;
  text-align: left;
  padding: 1rem 0;
  cursor: pointer; }
  @media only screen and (min-width: 875px) {
    .subMenuContainer .mobileMenu__closeButton {
      display: none; } }
  .subMenuContainer .mobileMenu__closeButton > .fa-close {
    font-size: 1.5rem; }

.subMenuContainer__internalContainer {
  width: 100%;
  padding: 2em 1em 3em; }
  @media only screen and (min-width: 875px) {
    .subMenuContainer__internalContainer {
      width: 650px;
      margin-left: calc(5.5rem + 100px); } }

.subMenu__leftColumn, .subMenu__rightColumn {
  display: none; }
  @media only screen and (min-width: 875px) {
    .subMenu__leftColumn, .subMenu__rightColumn {
      display: block;
      width: 50%;
      float: left;
      padding-right: 2em;
      padding-bottom: 2em; } }

.subMenu__title {
  display: none; }
  @media only screen and (min-width: 875px) {
    .subMenu__title {
      display: block;
      margin-bottom: 1em;
      text-transform: none; } }

.subMenu__copy {
  padding-right: 2em; }

.subMenu__rightColumn {
  display: block;
  width: 100%; }
  @media only screen and (min-width: 875px) {
    .subMenu__rightColumn {
      width: 50%; } }
  .subMenu__rightColumn li {
    position: relative;
    top: 0%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    display: block;
    float: none;
    padding: 0.75em 0;
    border-bottom: solid 1px #dddddd;
    margin: 0 1.5rem;
    padding: 1.25rem 1rem 0.25rem; }
    @media only screen and (min-width: 875px) {
      .subMenu__rightColumn li {
        margin-left: 0; } }
    .subMenu__rightColumn li a {
      color: #0D4B9E;
      opacity: 0.55;
      transition: all 0.4s ease-in-out; }
      .subMenu__rightColumn li a:hover {
        opacity: 1; }
      .subMenu__rightColumn li a:after {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); }

.logo {
  font-size: 1em;
  line-height: 1;
  margin: 0 0.3em 0 0;
  float: left;
  opacity: 1;
  transition: all 0.2s ease-in-out; }
  .logo:hover {
    opacity: 0.7; }

.headerSocial {
  display: none;
  font-size: 1.25rem; }
  @media only screen and (min-width: 875px) {
    .headerSocial {
      display: block;
      float: right;
      height: 84px; }
      .headerSocial:after {
        content: "";
        display: table;
        clear: both; } }

.headerSocial--mobile {
  display: block; }
  @media only screen and (min-width: 875px) {
    .headerSocial--mobile {
      display: none; } }

.headerSocial__item {
  float: left;
  font-size: 1.4rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  .headerSocial__item:last-of-type {
    margin-left: 1.5em; }

.headerSocial__item--icon {
  font-size: 1.4rem;
  opacity: 0.75;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0); }
  .headerSocial__item--icon:hover {
    opacity: 1;
    -webkit-transform: translateY(-3.5px);
            transform: translateY(-3.5px); }

.fa-facebook {
  color: #3b5998; }

.fa-google-plus {
  color: #dd4b39; }

.mobileNavButton {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 2rem;
  z-index: 99999;
  color: #0D4B9E;
  font-size: 1.5rem; }
  .mobileNavButton:hover {
    cursor: pointer; }
  @media only screen and (min-width: 875px) {
    .mobileNavButton {
      display: none;
      visibility: hidden; } }

/* Burger and animation class */
a.burger-link {
  z-index: 99999;
  position: fixed; }

a.burger-link:hover {
  cursor: pointer; }

a.burger-link i {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 3px;
  color: #000;
  font-size: 1.3em;
  line-height: 0.2em;
  font-family: arial;
  font-weight: 600;
  text-indent: 32px;
  background: green;
  transition: all 0.4s ease-in-out; }

a.burger-link i::before, a.burger-link i::after {
  content: '';
  width: 24px;
  height: 3px;
  background: green;
  position: absolute;
  left: 0;
  transition: all 0.4s ease-in-out; }

a.burger-link i::before {
  top: -8px; }

a.burger-link i::after {
  bottom: -8px; }

a.burger-link.active i {
  background: rgba(62, 192, 98, 0); }

a.burger-link.active i::before {
  top: 0;
  -webkit-transform: rotateZ(405deg);
  transform: rotateZ(405deg); }

a.burger-link.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-405deg);
  transform: rotateZ(-405deg); }

/* Mobile navigation */
.mobileMenu {
  width: 100%;
  max-height: 0;
  transition: all 1s ease-out;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 2em 1.5em 0.5em;
  background-color: #fff;
  border-top: solid 2px #dddddd; }
  .mobileMenu li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.5rem 0; }
    .mobileMenu li a {
      display: block;
      color: #141414;
      padding: 0.5rem 0;
      float: left; }

.menu-item--parent {
  transition: all 0.2s ease-in-out;
  opacity: 1; }

.hideParentMenuItem {
  opacity: 0; }

.mobileMenu--active {
  max-height: 25em;
  margin-top: 114px;
  margin-bottom: -114px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.22), 0 10px 20px rgba(0, 0, 0, 0.25); }

/* ---
		Typography 
---*/
html {
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400; }

h1, .homepageHeader, h2, .section__title--homepage, .textContainer__title, h3, h4 {
  display: inline-block;
  position: relative;
  color: rgba(24, 5, 12, 0.85);
  margin-bottom: 1rem;
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: 400; }

h1, .homepageHeader {
  font-size: 3.5rem;
  line-height: 3.6rem;
  margin-bottom: 1.5rem;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700; }

h2, .section__title--homepage, .textContainer__title {
  font-size: 2.25rem;
  line-height: 2.69rem; }

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  color: #555555; }

h4 {
  font-size: 1.1rem;
  line-height: 1.31rem;
  margin-bottom: 0.75rem; }

p, .wpContentContainer ol li, .wpContentContainer ul li {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #444444; }

/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.socialShareButtons {
  text-align: center; }
  .socialShareButtons__item {
    display: inline-block;
    margin: 10px; }
  .socialShareButtons .fa {
    background: #fff;
    border-radius: 35px;
    color: #818181;
    cursor: pointer;
    display: block;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    position: relative;
    text-align: center;
    transition: ease-in-out all 0.4s;
    width: 70px; }
    .socialShareButtons .fa:after {
      color: #818181;
      content: attr(data-count);
      font-size: 14px;
      left: 0;
      line-height: 20px;
      position: absolute;
      text-align: center;
      top: 100%;
      width: 100%; }
  .socialShareButtons .fa-facebook:hover {
    color: #fff;
    background-color: #3b5998; }
  .socialShareButtons .fa-twitter:hover {
    color: #fff;
    background-color: #00aced; }
  .socialShareButtons .fa-pinterest:hover {
    color: #fff;
    background-color: #cb2027; }
  .socialShareButtons .fa-google-plus:hover {
    color: #fff;
    background-color: #dd4b39; }
  .socialShareButtons .fa-envelope:hover {
    color: #fff;
    background-color: #738a8d; }

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.alignnone, img.alignnone {
  /* not sure about this one */ }

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px; }

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0; }

.wp-caption p.wp-caption-text, .wp-caption .wpContentContainer ol li.wp-caption-text, .wpContentContainer ol .wp-caption li.wp-caption-text, .wp-caption .wpContentContainer ul li.wp-caption-text, .wpContentContainer ul .wp-caption li.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0; }

.wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

.wpContentContainer ol, .wpContentContainer ul {
  list-style: inherit;
  padding: 1em 0 0 1.75em; }
  .wpContentContainer ol li, .wpContentContainer ul li {
    margin-bottom: 0.75em;
    line-height: 1.25; }
.wpContentContainer p, .wpContentContainer ol li, .wpContentContainer ul li {
  margin-bottom: 1.5em; }

/*---
		Slider Page
---*/
.glide {
  margin-top: 5em; }

.entry-content {
  max-width: 62.5em;
  margin-left: auto;
  margin-right: auto; }
  .entry-content:after {
    content: " ";
    display: block;
    clear: both; }

.breadcrumbs {
  font-size: 0.8em;
  color: #999;
  margin: 1.5em 0 2em; }
  .breadcrumbs li {
    display: inline-block;
    margin-right: 1.25em; }

.glide__slide__img {
  width: 100%;
  object-fit: cover; }

.pageSlider__image {
  height: 350px;
  background-color: #141414; }

.pageSlider__image--dark {
  background-color: #fafafa; }

.single__image, .post__image {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.single__image--overlay {
  opacity: 0.75; }

.homepage__imageWrapper {
  height: 200px; }

.archive__title {
  margin-top: 5em;
  width: 100%; }

.pageSlider__titlesContainer {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  width: 100%; }

.pageSlider__title {
  display: block;
  color: #fff;
  width: 100%;
  text-shadow: 0px 0px 45px rgba(50, 50, 50, 0.2); }

.pageSlider__title--meta {
  margin-top: 0.75em; }
  @media only screen and (min-width: 720px) {
    .pageSlider__title--meta {
      margin-top: 1.5em; } }

.titles__pageTitle {
  margin-bottom: 0; }

.titles__meta {
  display: block;
  color: #fff; }
  @media only screen and (min-width: 720px) {
    .titles__meta {
      display: inline-block;
      padding: 0.5em 2em;
      width: 50%;
      float: left;
      text-align: left; } }

@media only screen and (min-width: 720px) {
  .titles__meta--date {
    border-right: white 2px solid;
    text-align: right; } }

.slider__title--dark {
  color: #141414;
  text-shadow: 0px 0px 42px rgba(255, 255, 255, 0.4);
  border-color: #141414; }

.wpContentContainer {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 775px; }

.glide {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden; }

.glide__wrapper {
  width: 100%;
  list-style: none;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0; }

.glide__wrapper.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.glide__slide {
  -webkit-perspective: 1000;
  perspective: 1000;
  width: 100%;
  height: 100%; }

.glide__arrows {
  position: absolute;
  top: 50%;
  width: 100%; }

.glide__arrow {
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 18px;
  background: gray;
  cursor: pointer; }

.glide__arrow.prev {
  left: 0; }

.glide__arrow.next {
  right: 0; }

.glide__bullets {
  position: absolute;
  bottom: 18px;
  width: 100%;
  text-align: center;
  list-style: none; }

.glide__bullets li {
  display: inline-block;
  background-color: gray;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer; }

.glide__bullets li.active {
  background-color: white; }

.glide--slider .glide__slide {
  float: left;
  clear: none; }

.glide--slider .glide__arrow {
  transition: visibility 0 ease 150ms, opacity 150ms ease; }

.glide--slider .glide__arrow.prev {
  opacity: 0;
  visibility: hidden; }

.glide--carousel .glide__slide {
  float: left;
  clear: none; }

.glide--slideshow .glide__slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.glide--slideshow .glide__slide.active {
  z-index: 1; }

.glide {
  height: 350px; }

.glide__arrow {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute; }
  .glide__arrow i {
    color: rgba(25, 25, 25, 0.5);
    font-size: 1.5rem;
    transition: all 0.25s ease-in-out; }

.glide__arrow:hover .fa-arrow-left {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px); }

.glide__arrow:hover .fa-arrow-right {
  -webkit-transform: translateX(10px);
          transform: translateX(10px); }

.glide__arrowNext--page {
  right: 12px !important; }

.glide__arrowPrev--page {
  left: 20px !important; }

.glide__bullets li {
  display: inline-block;
  background-color: rgba(25, 25, 25, 0.5);
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%; }

.glide__bullets li.active {
  background-color: rgba(255, 255, 255, 0.75); }

div.wpcf7 {
  margin: 0;
  padding: 0; }

div.wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em; }

div.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0; }

div.wpcf7-mail-sent-ok {
  background-color: #fafafa;
  font-family: sans-serif;
  color: #398f14;
  padding: 0.5em 1em; }

div.wpcf7-mail-sent-ng {
  border: 2px solid #ff0000; }

div.wpcf7-spam-blocked {
  border: 2px solid #ffa500; }

div.wpcf7-validation-errors {
  border: 2px solid #f7e700;
  display: none; }

span.wpcf7-form-control-wrap {
  position: relative; }

span.wpcf7-not-valid-tip {
  color: #e74c3c;
  font-size: 1em;
  display: block;
  background-color: rgba(51, 51, 51, 0.75);
  padding: 0.25em 0.5em;
  margin-top: -1.25em; }

.use-floating-validation-tip span.wpcf7-not-valid-tip {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 100;
  border: 1px solid #ff0000;
  background: #fff;
  padding: .2em .8em; }

span.wpcf7-list-item {
  margin-left: 0.5em; }

.wpcf7-display-none {
  display: none; }

div.wpcf7 img.ajax-loader {
  border: none;
  vertical-align: middle;
  margin-left: 4px; }

div.wpcf7 div.ajax-error {
  display: none; }

div.wpcf7 .placeheld {
  color: #888; }

.tablepress-table-description {
  clear: both;
  display: block; }

.tablepress {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1em;
  border: none; }

.tablepress td, .tablepress th {
  padding: 8px;
  border: none;
  background: 0 0;
  text-align: left;
  float: none !important; }

.tablepress tbody td {
  vertical-align: top; }

.tablepress tbody td, .tablepress tfoot th {
  border-top: 1px solid #ddd; }

.tablepress tbody tr:first-child td {
  border-top: 0; }

.tablepress thead th {
  border-bottom: 1px solid #ddd; }

.tablepress tfoot th, .tablepress thead th {
  background-color: #d9edf7;
  font-weight: 700;
  vertical-align: middle; }

.tablepress .odd td {
  background-color: #f9f9f9; }

.tablepress .even td {
  background-color: #fff; }

.tablepress .row-hover tr:hover td {
  background-color: #f3f3f3; }

.tablepress img {
  margin: 0;
  padding: 0;
  border: none;
  max-width: none; }

.dataTables_wrapper {
  clear: both;
  margin-bottom: 1em; }

.dataTables_wrapper .tablepress {
  clear: both;
  margin: 0 !important; }

.dataTables_length {
  float: left;
  white-space: nowrap; }

.dataTables_filter {
  float: right;
  white-space: nowrap; }

.dataTables_info {
  clear: both;
  float: left;
  margin: 4px 0 0; }

.dataTables_paginate {
  float: right;
  margin: 4px 0 0; }

.dataTables_paginate a {
  color: #111 !important;
  display: inline-block;
  outline: 0;
  position: relative;
  text-decoration: underline;
  text-decoration: none\0/IE;
  margin: 0 5px; }

.dataTables_paginate a:first-child {
  margin-left: 0; }

.dataTables_paginate a:last-child {
  margin-right: 0; }

.paginate_button:hover {
  cursor: pointer;
  text-decoration: none; }

.paginate_button.disabled {
  color: #999 !important;
  text-decoration: none;
  cursor: default; }

.paginate_button.current {
  font-weight: 700;
  text-decoration: none;
  cursor: default; }

.dataTables_paginate.paging_simple {
  padding: 0 15px; }

.paging_simple .paginate_button.next:after, .paging_simple .paginate_button.previous:before {
  text-align: left;
  font-family: TablePress;
  font-size: 14px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  content: "\f053";
  text-shadow: .1em .1em #666;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: -14px;
  margin: auto;
  height: 14px;
  width: 14px;
  line-height: 1; }

.paging_simple .paginate_button.next:after {
  text-align: right;
  content: "\f054";
  left: auto; }

.paginate_button:after, .paginate_button:before {
  color: #d9edf7; }

.paginate_button:hover:after, .paginate_button:hover:before {
  color: #049cdb; }

.paginate_button.disabled:after, .paginate_button.disabled:before {
  color: #f9f9f9; }

.dataTables_processing {
  display: none; }

.dataTables_scroll {
  clear: both; }

.dataTables_scrollBody {
  -webkit-overflow-scrolling: touch; }

.tablepress .sorting, .tablepress .sorting_asc, .tablepress .sorting_desc {
  position: relative;
  padding-right: 20px;
  cursor: pointer;
  outline: 0; }

.tablepress .sorting:after, .tablepress .sorting_asc:after, .tablepress .sorting_desc:after {
  font-family: TablePress;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 6px;
  margin: auto;
  height: 14px;
  line-height: 1; }

.tablepress .sorting:after {
  content: "\f0dc"; }

.tablepress .sorting_asc:after {
  content: "\f0d8";
  padding: 0 0 2px; }

.tablepress .sorting_desc:after {
  content: "\f0d7"; }

.dataTables_scrollBody .tablepress thead th:after, .dataTables_wrapper:after {
  content: ""; }

.tablepress .sorting:hover, .tablepress .sorting_asc, .tablepress .sorting_desc {
  background-color: #049cdb; }

.dataTables_wrapper:after {
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.dataTables_wrapper label input, .dataTables_wrapper label select {
  display: inline;
  margin: 2px;
  width: auto; }

/*---
		Sections
---*/
.section {
  display: block;
  width: 100%;
  padding: 2em 1.5rem;
  max-width: 63.5em;
  margin-left: auto;
  margin-right: auto; }
  .section:after {
    content: "";
    display: table;
    clear: both; }
  .section:after {
    content: " ";
    display: block;
    clear: both; }

.section--fullWidth {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0; }
  .section--fullWidth:after {
    content: " ";
    display: block;
    clear: both; }
  .section--fullWidth:after {
    content: "";
    display: table;
    clear: both; }

.section--fullWidthPadding {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 1.5%; }
  .section--fullWidthPadding:after {
    content: " ";
    display: block;
    clear: both; }
  .section--fullWidthPadding:after {
    content: "";
    display: table;
    clear: both; }

.section--wide {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 1.5%; }
  .section--wide:after {
    content: " ";
    display: block;
    clear: both; }
  .section--wide:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 1024px) {
    .section--wide {
      padding: 2em 8%; } }
  @media only screen and (min-width: 1360px) {
    .section--wide {
      padding: 2em 12.5%; } }

.section--hero {
  margin-top: 114px; }

.section--heroImage {
  margin-top: 6em; }

.section--contactPage {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 98px; }
  .section--contactPage:after {
    content: " ";
    display: block;
    clear: both; }
  .section--contactPage:after {
    content: "";
    display: table;
    clear: both; }

.section--slider {
  position: relative; }

.section__title {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.46296%;
  padding-right: 0.46296%;
  display: block;
  margin-bottom: 1.75rem; }

.section__title--homepage {
  text-align: center; }

.section__title--blog {
  margin-left: 3%; }

.section__title--left {
  text-align: left; }

.section__title--center {
  text-align: center;
  padding: 1em; }

.columnContainer {
  padding: 0 1.5rem; }

.column {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em; }
  @media only screen and (min-width: 875px) {
    .column {
      margin-bottom: 0;
      padding-right: 2.5%; } }

@media only screen and (min-width: 875px) {
  .column__one {
    width: 32.71028%;
    float: left;
    margin-right: 0.93458%; } }

@media only screen and (min-width: 875px) {
  .column__two {
    width: 32.71028%;
    float: left;
    margin-right: 0.93458%; } }

@media only screen and (min-width: 875px) {
  .column__three {
    width: 32.71028%;
    float: right;
    margin-right: 0; } }

/*---
		Homepage
---*/
.homepageHeader__container {
  height: 100%;
  display: block;
  text-align: center;
  width: 100%;
  padding: 4vh 0; }

.homepageHeader {
  color: #0D4B9E;
  text-align: center;
  margin-bottom: 0;
  max-width: 700px;
  font-size: 2rem;
  line-height: 2.75rem; }

.imageHero {
  display: block;
  height: 76vh;
  position: relative; }
  @media only screen and (min-width: 720px) {
    .imageHero {
      height: 60vh; } }

.imageHero__imageContainer {
  float: left;
  width: 100%;
  height: 50%;
  position: relative; }
  @media only screen and (min-width: 720px) {
    .imageHero__imageContainer {
      width: 50%;
      height: 100%; } }

.imageHero__schoolTitle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0.5em 0.25rem 0.2em;
  z-index: 2;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 42px rgba(0, 0, 0, 0.9);
  font-weight: 700; }
  @media only screen and (max-width: 719px) {
    .imageHero__schoolTitle {
      font-size: 2rem; } }

.imageHero__image {
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover; }
  @media only screen and (min-width: 720px) {
    .imageHero__image {
      position: absolute; } }

.imageHero__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(13, 75, 158, 0.2);
  transition: all 0.65s ease-in-out;
  transition-delay: 0.15s; }
  .imageHero__overlay:hover {
    background-color: rgba(13, 75, 158, 0.5); }

.imageHero__overlay--noHover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(13, 75, 158, 0.25); }

.imageHero__schoolNames {
  width: 100%; }

.imageHero__schoolNameLeft {
  width: 50%;
  float: left;
  height: 100%; }

.imageHero__schoolNameRight {
  width: 50%;
  float: left; }

.imageHero__schoolNameLeft h2, .imageHero__schoolNameLeft .section__title--homepage, .imageHero__schoolNameLeft .textContainer__title, .imageHero__schoolNameRight h2, .imageHero__schoolNameRight .section__title--homepage, .imageHero__schoolNameRight .textContainer__title {
  width: 100%;
  text-align: center; }

.textContainer {
  display: block;
  max-width: 700px;
  margin: auto;
  padding-top: 3em; }
  .textContainer p, .textContainer .wpContentContainer ol li, .wpContentContainer ol .textContainer li, .textContainer .wpContentContainer ul li, .wpContentContainer ul .textContainer li {
    margin-bottom: 1.5em; }

.textContainer__title {
  text-align: center;
  display: block;
  font-size: 2.7em;
  text-transform: none; }

.section--quickLinks {
  background-color: #f1f1f1; }

.section--quickLinks h2, .section--quickLinks .section__title--homepage, .section--quickLinks .textContainer__title {
  text-align: center;
  display: block;
  padding-top: 0.6em;
  padding-bottom: 0;
  margin-bottom: 0; }

.imageQuickLink {
  width: 100%;
  background-color: #f1f1f1;
  padding-bottom: 0.5%;
  border-bottom: 1px solid #bbbbbb; }
  @media only screen and (min-width: 720px) {
    .imageQuickLink {
      width: 32.71028%;
      float: left; }
      .imageQuickLink:nth-child(3) {
        width: 32.71028%; } }

.imageQuickLink__title {
  text-align: center;
  display: block; }

.imageQuickLink__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 5%; }

.blogPost {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20px; }
  @media only screen and (min-width: 720px) {
    .blogPost {
      width: 32.71028%;
      float: left;
      padding: 0 2.5% 2.5%;
      margin-bottom: 0; } }

.blogPost--footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 1.5rem; }
  .blogPost--footer:after {
    content: "";
    display: table;
    clear: both; }

.blogPost__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 1.5em; }

.blogPost__image--footer {
  height: 70px;
  width: 100px;
  margin-bottom: 1.5em; }

.blogPost__title--footer {
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 1.0rem;
  color: #cdcdcd !important;
  text-transform: none; }

.blogPost__text {
  font-size: 1rem;
  margin-bottom: 1em; }

.button {
  display: inline-block;
  background-color: #0D4B9E;
  padding: 0.75em 2.5em;
  border-radius: 0.3rem;
  text-decoration: none;
  color: white;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.2s ease-in-out; }
  .button:hover {
    background-color: #1161cd;
    color: white;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px); }

.button--small {
  padding: 0.5em 1.0em;
  font-size: 0.875em; }

.button--zones {
  color: #fff;
  width: 100%;
  padding: 0.95em 0.5em 0.95em 3.0em;
  max-width: 200px; }
  .button--zones:hover::before {
    opacity: 0.95; }
  .button--zones:before {
    position: absolute;
    background-size: 2em 2em;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    content: "";
    padding: 0 2.5em 0 0;
    left: 0.5em;
    top: 0.5em;
    opacity: 0.75;
    transition: all 0.2s ease-in-out; }

/*---
		Index
---*/
.section--blogPage {
  margin-top: 10em; }

.blogArticlesContainer {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 2%;
  padding-right: 2%; }
  .blogArticlesContainer:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 720px) {
    .blogArticlesContainer {
      box-sizing: border-box;
      width: 76%;
      float: left;
      padding-left: 2%;
      padding-right: 2%; } }

.blogPost--2column {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3em;
  margin-bottom: 3em;
  min-height: 600px; }
  .blogPost--2column:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 720px) {
    .blogPost--2column {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding-left: 2%;
      padding-right: 2%; } }

.blogPost__image {
  margin-bottom: 1em; }

.blogPost__title {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  line-height: 1.75rem;
  color: #555555; }

.blogPost__date {
  display: block;
  font-size: 0.7em;
  margin: 0 0 1.25em; }

.sidebar {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 2%;
  padding-right: 2%; }
  @media only screen and (min-width: 720px) {
    .sidebar {
      box-sizing: border-box;
      width: 24%;
      float: right;
      padding-left: 2%;
      padding-right: 2%;
      border-left: solid 1px #bbbbbb;
      padding-left: 3%; } }

.sidebar__heading, .sidebar__uList {
  display: block; }

.sidebar__uList {
  margin-bottom: 3em; }

.cat-item, .sidebar__uList li {
  margin-bottom: 0.5em; }

.breadcrumbs--archive {
  margin-left: 3%; }

/*---
		Calander
---*/
.ai1ec-agenda-widget-view .ai1ec-date, .ai1ec-agenda-view .ai1ec-date {
  background: none;
  padding-bottom: 0.75rem;
  border-top: 0px;
  border-bottom: 1px solid #e5e5e5; }

.ai1ec-date {
  padding-top: 1.25rem; }

a.ai1ec-date-title.ai1ec-load-view {
  background: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) !important;
  border: none;
  margin: 0.5em 0.75rem 0.5em 0; }

.ai1ec-agenda-widget-view .ai1ec-month, .ai1ec-agenda-view .ai1ec-month {
  background: rgba(242, 56, 90, 0.75); }

.ai1ec-agenda-widget-view .ai1ec-event > a {
  border: none;
  font-size: 0.95rem; }

/*---
		Footer Calendar Events
---*/
.footer a.ai1ec-date-title.ai1ec-load-view {
  background-color: #d9d9d9; }

.ai1ec-date:first-of-type {
  padding-top: 0; }

.footer .ai1ec-agenda-widget-view .ai1ec-event > a {
  background-color: transparent;
  padding: 0.5em;
  color: #9bd3e9;
  opacity: 0.75;
  transition: all 0.2s ease-in-out; }
  .footer .ai1ec-agenda-widget-view .ai1ec-event > a:hover {
    opacity: 1; }

.timely .ai1ec-btn-default {
  background-color: #9bd3e9;
  color: #222;
  opacity: 0.75;
  transition: all 0.2s ease-in-out; }
  .timely .ai1ec-btn-default:hover {
    opacity: 1; }

/*---
		Contact Page
---*/
#mapCanvas {
  width: 100%;
  height: 300px !important;
  margin-bottom: 3em; }
  @media only screen and (min-width: 1024px) {
    #mapCanvas {
      height: 450px; } }

.contactPage__details, .contactPage__contactFormContainer {
  max-width: 62.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 1.5rem;
  margin-bottom: 4em; }
  .contactPage__details:after, .contactPage__contactFormContainer:after {
    content: " ";
    display: block;
    clear: both; }

.contactPage__column {
  width: 100%;
  margin-bottom: 2em; }
  @media only screen and (min-width: 720px) {
    .contactPage__column {
      width: 50%;
      float: left;
      margin-bottom: 0;
      padding-right: 2.5%; } }

.contactFieldL, .contactFieldR {
  width: 100%; }
  @media only screen and (min-width: 720px) {
    .contactFieldL, .contactFieldR {
      width: 47.5%;
      margin-right: 2.5%;
      float: left; }
      .contactFieldL:after, .contactFieldR:after {
        content: "";
        display: table;
        clear: both; } }

.contactItemContainer {
  margin-left: 2em; }

.wpcf7-text, .wpcf7-textarea {
  width: 100%;
  margin: 0 0% 1.25em 0;
  padding: 0.8rem 1rem;
  font-size: 0.8rem;
  border: none;
  background-color: #eee;
  box-shadow: inset 0 0 1px rgba(20, 20, 20, 0.1); }
  @media only screen and (max-width: 719px) {
    .wpcf7-text, .wpcf7-textarea {
      margin-bottom: 0; } }

.wpcf7-textarea {
  height: 93px; }

.contactButton {
  border: none;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
  margin-top: 0;
  background-color: #ffb200;
  color: #fff;
  transition: all 0.2s ease-in-out; }
  .contactButton:hover {
    background-color: #ffa200; }

/*---
		Team Members Page
---*/
.teamMembersContainer {
  display: block;
  width: 100%;
  margin-bottom: 5em; }
  .teamMembersContainer:after {
    content: "";
    display: table;
    clear: both; }

.teamMemberContainer {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .teamMemberContainer {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%;
      width: 50%;
      margin: 0;
      padding: 0; }
      .teamMemberContainer:nth-child(2n) {
        width: 49.15254%;
        float: right;
        margin-right: 0; } }

.teamMember__text {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
  padding: 1em 0.5em; }
  @media only screen and (min-width: 720px) {
    .teamMember__text {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%;
      padding: 1em 0.85em; } }

.teamMember__imageContainer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative; }
  @media only screen and (min-width: 720px) {
    .teamMember__imageContainer {
      width: 49.15254%;
      float: right;
      margin-right: 0;
      position: relative;
      width: 50%; } }
  @media only screen and (min-width: 720px) {
    .teamMember__imageContainer .imageHero__overlay {
      width: 100%; } }

.teamMember__image {
  display: block;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  opacity: 0.9; }

.coloredSquare {
  height: 300px; }

.teamMember__name {
  width: 100%;
  text-align: center; }
  @media only screen and (max-width: 719px) {
    .teamMember__name {
      color: #fff;
      text-shadow: 2px 2px 42px rgba(255, 255, 255, 0.9); } }

.teamMember__name--mobile {
  display: block; }
  @media only screen and (min-width: 720px) {
    .teamMember__name--mobile {
      display: none; } }

.teamMember__name--gridItem {
  display: none; }
  @media only screen and (min-width: 720px) {
    .teamMember__name--gridItem {
      display: block;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      color: #fff;
      z-index: 999; } }

.teamMember__title {
  width: 100%;
  font-size: 0.95rem;
  display: block;
  text-align: center; }
  @media only screen and (max-width: 719px) {
    .teamMember__title {
      color: #fff;
      text-shadow: 2px 2px 42px rgba(255, 255, 255, 0.9); } }

.teamMember__bio {
  text-align: center; }
  @media only screen and (max-width: 719px) {
    .teamMember__bio {
      color: #fff; } }

.teamMember__text--hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.2s ease-in-out; }
  .teamMember__text--hover:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }

.teamMember__bio--hover {
  opacity: 1;
  transition: all 0.2s ease-in-out; }
  .teamMember__bio--hover:hover {
    opacity: 0.7; }

/*---
		Calendar
---*/
.ai1ec-tag-filter {
  display: none !important; }

.ai1ec-date > a {
  color: #fafafa; }

.extracurricularEventsContainer .ai1ec-dropdown-menu div:nth-child(1),
.extracurricularEventsContainer .ai1ec-dropdown-menu div:nth-child(2),
.extracurricularEventsContainer .ai1ec-dropdown-menu div:nth-child(5) {
  display: none; }

/*---
		Zones
---*/
.zonePageTitle {
  padding-left: 1.5rem; }

.zoneContainer {
  margin-bottom: 4em; }

.zone__title {
  width: 100%; }

.zone__image {
  display: block;
  margin: 0 0 1em;
  object-fit: cover; }

.zone__copy {
  margin-bottom: 0.5em; }

.zone__button {
  display: block;
  text-align: center;
  position: relative;
  max-width: 200px; }
  @media only screen and (min-width: 1024px) {
    .zone__button {
      width: 100%; } }

.buttonZones--gov:before {
  background-image: url(../img/zone-icons/governor.svg); }

.buttonZones--pta:before {
  background-image: url(../img/zone-icons/parent.svg); }

.buttonZones--pol:before {
  background-image: url(../img/zone-icons/policies.svg); }

.buttonZones--gen:before {
  background-image: url(../img/zone-icons/general.svg); }

.buttonZones--lve:before {
  background-image: url(../img/zone-icons/love-to-learn-3.svg); }

.buttonZones--parent:before {
  background-image: url(../img/zone-icons/pta-2.svg); }

/*# sourceMappingURL=custom-style.css.map */