.glide {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.glide__wrapper {
  width: 100%;
  //height: 100%;
  list-style: none;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.glide__wrapper.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.glide__slide {
  -webkit-perspective: 1000;
          perspective: 1000;
  width: 100%;
  height: 100%;
}
.glide__arrows {
  position: absolute;
  top: 50%;
  width: 100%;
}
.glide__arrow {
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 18px;
  background: gray;
  cursor: pointer;
}
.glide__arrow.prev {
  left: 0;
}
.glide__arrow.next {
  right: 0;
}
.glide__bullets {
  position: absolute;
  bottom: 18px;
  width: 100%;
  text-align: center;
  list-style: none;
}
.glide__bullets li {
  display: inline-block;
  background-color: gray;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
}
.glide__bullets li.active {
  background-color: white;
}
.glide--slider .glide__slide {
  float: left;
  clear: none;
}
.glide--slider .glide__arrow {
  -webkit-transition: visibility 0 ease 150ms,
						opacity 150ms ease;
          transition: visibility 0 ease 150ms,
						opacity 150ms ease;
}
.glide--slider .glide__arrow.prev {
  opacity: 0;
  visibility: hidden;
}
.glide--carousel .glide__slide {
  float: left;
  clear: none;
}
.glide--slideshow .glide__slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.glide--slideshow .glide__slide.active {
  z-index: 1;
}
