//@import '../partials/mixins';

.glide {
	height: 350px;
}

.glide__arrow {
	background-color: rgba(255, 255, 255, 0.5);
	@include v-a;
	position: absolute;

	i {
		color: rgba(25, 25, 25, 0.5);
		font-size: 1.5rem;
		transition: all 0.25s ease-in-out;
	}
}

.glide__arrow:hover .fa-arrow-left {
	transform:translateX(-10px);
}

.glide__arrow:hover .fa-arrow-right {
	transform:translateX(10px);
}	

.glide__arrowNext--page {
	right: 12px!important;
}

.glide__arrowPrev--page {
	left: 20px!important;
}

.glide__bullets li {
  display: inline-block;
  background-color: rgba(25, 25, 25, 0.5);
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}  

.glide__bullets li.active {
	background-color: rgba(255, 255, 255, 0.75);

}