* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;  
}

body {
	max-height: 100%;
	color: $black_l;
}

img {
	display: block;
	max-width: 100%;
}

a {
	color: $action;
	//transform: translateY(0);
	@include trans(0.4s);

	&:hover {
		color: lighten($action, 17.5%);
		//transform: translateY(-5px);
	}
}