/* Footer */
.footer {
	// height: 150px;
	background-color: $main_d;
	display: inline-block;
	padding: 2rem 1rem;
	flex-direction: row;
	overflow: auto;
	width: 100%;
	margin-bottom: -3px;
	
	@include breakpoint(large) {
		flex-direction: column;
		padding: 0 2%;
	}
}
.footer__innerContainer {
	width: 100%;
	padding: 1.5rem 1rem;
	overflow: hidden;
	@include clearfix;
	
	@include breakpoint(medium) {
		@include span(6 of 12);
		padding: 2rem 1rem 4rem;
		
		&:nth-child(2n) {
			padding-bottom: 0;
			@include span(6 of 12 at 12 last);
		}
	}

	@include breakpoint(large) {
		@include span(3 of 12);
		
		&:nth-child(2n) {
			@include span(3 of 12);
		}	
		
		&:nth-child(4n) {
			@include last;
			padding-bottom: 0;
		}
	}
}

.footer__innerContainer--small {
	@include breakpoint(large) {
		@include span(2 of 12);
	}
}

.footer__innerContainer--large {
	@include breakpoint(large) {
		@include span(3.5 of 12);
	}
}

.footer__footerTitle {
	width: 100%;
}
.footer__footerTitle:after {
	
}
.footer__footerTitle--title {
	@include sans-b;
	display: inline-block;
	position: relative;	
	font-size: 1.25rem;
	margin-bottom: 2rem;
	opacity: 0.75;
	color: #fafafa;
}	
.footer--footerCopy {
	display: block;
	margin-bottom: 1.5rem;
	line-height: 1.4em;
	width: 80%;
	@include sans-r;
	color: #fafafa;
	font-size: 1rem;
}
.footer--socialLinks {
	transform: translateY(-0.5rem);
}
.footer--socialLinks--item {
	float: left;
	> i {
		color: yellow;
	}
}
.socialIcon {
	color: #fafafa;
	margin-right: 1rem;
	font-size: 1.5rem;
	position: relative;
	//overflow: auto;
	float: left;
	transform: translateY(0);
	transition: all 0.2s ease-in-out;
	&:visited, &:active {
		color: #fafafa;
	}
	&:hover {
		transform: translateY(-5px);
	}
}
.fa-circle {
	color: #aaa;
}
/*-----
		Footer contact
-----*/
.footerContact {
	margin-left: 2rem;
}
.contactItem {
	width: 100%;
	padding-bottom: 1em;
	@include sans-r;
	//color: #fafafa;
	font-size: 1rem;
	line-height: 1.3;
}
.contactItem--footer {
	opacity: 0.75;
	color: #fafafa;

	&.contactIcon--phone, &.contactIcon--email, &.contactIcon--address {
		&:before {
			//color: #fafafa;
			color: lighten($action, 20%);
			opacity: 0.75;
		}	
	}
}
.contactItem__link {
	color: #fafafa;
	position: relative;
	&:after {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 1px;
		background: $contactIcon;
		content: '';
		opacity: 0;
		transition: height 0.3s, opacity 0.3s, transform 0.3s;
		transform: translateY(10px);
	}
	&:hover:after {
		height: 2px;
		opacity: 1;
		transform: translateY(2px);
	}
}
.contactIcon--phone, .contactIcon--email, .contactIcon--address {
	&:before {
		transform: translateX(-50%);
		margin-left: -1.5rem;
		opacity: 0.5;
		color: $contactIcon;
	}
}
.contactIcon--phone--darker, .contactIcon--email--darker, .contactIcon--address--darker {
	&:before {
		color: $black;
		opacity: 1;
	}
}
.contactIcon--phone {
	&:before {
		content: "\f095";
		font-family: "FontAwesome";
		font-size: 1rem;
		position: absolute;
	}
}
.contactIcon--email {
	&:before {
		content: "\f0e0";
		font-family: "FontAwesome";
		font-size: 1rem;
		position: absolute;
	}
}
.contactIcon--address {
	&:before {
		content: "\f041";
		font-family: "FontAwesome";
		font-size: 1rem;
		position: absolute;
	}	
}
/*-----
		Footer opening times
-----*/
.openingTimes {
	color: #fff;
	.openingTimes__row {
		display: block;
		@include span(12 of 12);
		padding-bottom: 0.5em;
		.openingTimes__day {
			//width: span(40%);
			padding-right: 2em;
			float: left;
		}
		.openingTimes__time {
			//width: span(60%);
			float: left;
		}
	}
}
/*-----
		Footer email signup form
-----*/
#mc4wp-form-1 {
	margin: 0;
}
.mc4wp-form input {
		display: block;
		font-size: 0.8rem;
}
.mc4wp-form input[type=email] {
	@include sans-r;
	// font-size: 1rem;
	background: #fafafa;
	border: none;
	width: 70%;
	max-width: 300px;
	padding: 0.8rem 1rem;
	margin-bottom: 0.75rem;
	@include breakpoint(medium) {
		max-width: 250px;
	}
}
.mc4wp-form input[type=submit] {
	@include sans-r;
	color: #fafafa;
	background: $action;
	border: none;
	width: 100%;
	max-width: 300px;
	padding: 0.8rem 1rem;
	transition: all 0.2s ease-in-out;
	@include breakpoint(medium) {
		font-size: 1rem;
		max-width: 250px;
	}
}
.homepage__cta .mc4wp-form input { //large for mobile change when add in Steves form plugin
	max-width: 400px;
	@include breakpoint(medium) {
		max-width: 250px;
	}
}
.mc4wp-form input[type=submit]:hover {
	background: darken( $action, 10% );
}

/*---
		Footer nav
---*/
.footerMenu { //ul
	
	li {
		float: none;
		margin-bottom: 0.75em;
		padding: 0;
	
		a {
			color: lighten($action, 17.5%);
			opacity: 0.75;
			@include trans;
		
			&:hover {
				opacity: 1;
				color: lighten($action, 25%);
		
				&::after {
					color: #fafafa;
					transform: rotate(-90deg);
				}
			}
		}
	}
}


/*---
		Footer News Feed
---*/
.blogPostFooter__leftColumn {
	float: left;

	@include breakpoint(medium) {
		width: 38%;
	}
}		

.blogPostFooter__rightColumn {
	float: left;
	padding-left: 1em;
	width: 62%;
}


/*---
		Footer Legal & Copyright
---*/
.footer__legal {
	display: block;
	float: left;
	width: 100%;
	margin: 2em 0;
	@include clearfix;

	a {
		color: #fafafa;
    	opacity: 0.75;

    	&:hover {
    		color: #fff;
			opacity: 1.0;
    	}
	}

	.footer__legalColumn {
		width: 100%;
		padding: 0 0 1.5em;
		text-align: center;

		@include breakpoint(medium) {
			float: left;
			width: 50%;
			padding: 0px 2.5em;
		}
	}

	.footer__legalColumn--left {
		@include breakpoint(medium) {
			text-align: right;
		}
	}

	.footer__legalColumn--right {
		@include breakpoint(medium) {
			text-align: left;
		}
	}
}

.footer__copyright {
	display: block;
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 2em;

	a {
		color: lighten($action, 20%);
		opacity: 0.75;

		&:hover {
			color: #fafafa;
			opacity: 1;
		}
	}
}