/*--- 
		Header 
---*/

.header {
	width: 100%;
	padding: 1rem 0 1rem 1.5rem;
	z-index: 9999;
	top: 0;
	position: fixed;
	background-color: #fafafa;

	@include breakpoint(large) {
		padding: 1rem 2.5rem;
	}

	@include breakpoint(extralarge) {
		padding: 1rem $pad--large;
	}

	h1 {
		float: left;
		width: auto;
		margin-bottom: 0;
		//text-align: center;
	
		//@include breakpoint(medium) {
		//  	text-align: right;
		//}
	}
}	

.headerShadow {
	box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.22), 0 5px 20px rgba(0, 0, 0, 0.25);
}