/* Imports */

//@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Mixins & variables */

// Breakpoint mixins

// Use these by including the breakpoint mixin:

// @include breakpoint(breakpointname) {
// 	Styles here
// }

@mixin breakpoint($point) {
	@if $point == small {
		@media only screen and (max-width : 719px) { @content ; }
	}
	@else if $point == medium {
		@media only screen and (min-width : 720px) { @content ; }
	}
  @else if $point == medium_m {
    @media only screen and (min-width : 875px) { @content ; }
  }
	@else if $point == large {
		@media only screen and (min-width : 1024px) { @content ; }
	}
  @else if $point == extraLarge {
    @media only screen and (min-width : 1360px) { @content ; }
  }
}

// Layout tools

@mixin v-a {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin v-r {
  position: relative;
  top: 0%;
  -webkit-transform: translateY(-0%);
  -ms-transform: translateY(-0%);
  transform: translateY(-0%);
}

@mixin h-a {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$pad: 1.5rem;
$pad--large: 3rem;
$heroTopMargin: 114px;

@include breakpoint(extraLarge) {
  $pad--large: 5rem;
}

@mixin trans($time: 0.2s) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

//@mixin hover($number: 3) {
//  transform: translateY(0);
//  @include trans(0.3s);
//
//  &:hover {
//    transform: translateY(- $number px);
//  }  
//} 

@mixin br($radius) {
  border-radius: ($radius);
}

@mixin image--fs {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover; 
  z-index: -1; 
}

@mixin video--fs {
    position: relative; 
    padding-bottom: 56.25%; //16:9 
    height: 0; 

  & iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }
}

// Colours		
$action: #52B3D9;
$main: #0D4B9E;
$main_d: #050C1C;
$green: #3CE680;
$black: #141414;
$black_l: #353535;
$grey: #dddddd;
$grey_l: #bbbbbb;
$red: rgba(242,56,90,0.75);
$headingColor: rgba(#18050C, 0.85);
//$contactIcon: #55C0DE;
$contactIcon: $main;

//Social Colors
$facebook: #3b5998;
$twitter: #00aced;
$google: #dd4b39; 


//Fonts
@mixin sans-l {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

@mixin sans-r {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
}

@mixin sans-b {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
}

@mixin heading-l {
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: 300;
}

@mixin heading-r {
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: 400;
}

// Shadows
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);  
  }
}