//http://codepen.io/stuartjnelson/pen/VLawVM — working version

.mainMenu {
	float: left;
	display: none;
	@include trans;

	@include breakpoint(medium_m) {
		display: block;
		margin-left: 1.25rem
	}

	@include breakpoint(extraLarge) {
		margin-left: 2.5rem
	}
}

.mobileMenu {
	display: block;
	@include trans;

	@include breakpoint(medium_m) {
		display: block;
		margin-left: 1.25rem
	}
}

.zonesMenu--header {
	position: absolute;
    right: 0;

    li {
    	float: left;
    	padding-right: 2em;

    	a {
    		font-size: 0.85rem;
    		opacity: 0.4;

    		&:hover {
    			opacity: 0.85;
    		}
    	}
    }
}

$menuHeight: 84px;

#menu-main-menu { //nav ul

	@include breakpoint(medium_m) {
		height: $menuHeight;
	}
}

.menu-item {
	float: left;
	padding-left: 1rem;
  	list-style: none;
  	//width: 20%;
  	@include v-a;

  	@include breakpoint(medium) {
  		padding: 0 1.75rem 0 0;
  	}

  	@include breakpoint(large) {
  		padding: 0 3rem 0 0;
  	}

  	@include breakpoint(extraLarge) {
  		padding: 0 5rem 0 0;
  	}
	
	& a {
		font-size: 1.1rem;
		@include sans-r;
		color: rgba($black, 0.6);
		position: relative;
		@include trans(0.3s);

		&:after {
			content: "\f078";
			font-family: "FontAwesome";
			font-size: 1rem;
			position: absolute;
			margin-left: 0.35em;
			color: rgba($black, 0);
			@include trans(0.3s);

			@include breakpoint(small) {
    			transform: rotate(-90deg);	
    		}			
		}
	
		&:hover {
			color: rgba($black, 1.0);

			&::after {
				color: rgba($main, 0.65);
			}
		}
	}
}	

.menu-item-400 a:after, .menu-item-482 a:after {
	//transform: rotate(-90deg);
	display: none;
}

.subMenuContainer {
	display: block;
	position: fixed;
	width: 100%;
	min-height: 281px;
	top: $heroTopMargin;
	//padding: 1em 1em 3em;
	background-color: #fff;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.22), 0 10px 20px rgba(0, 0, 0, 0.25);
	border-top: solid 2px $grey;
	@include clearfix;
	transition: opacity ease-in-out 0.5s;
	opacity: 0;

	@include breakpoint(small) {
		left: -120%;
	}

	@include breakpoint(medium_m) {
		top: -100%;
	}
}

.subMenu--active {
	top: $heroTopMargin;
	opacity: 1;
	z-index: 999;

	@include breakpoint(small) {
		left: 0%;
	}
}

.subMenuContainer {

	.mobileMenu__closeButton {
		display: block;
    	left: 2rem;
    	width: 100%;
    	text-align: left;
    	padding: 1rem 0;
    	cursor: pointer;

    	@include breakpoint(medium_m) {
			display: none;
    	}

    	& > .fa-close {
    		font-size: 1.5rem;
    	}
	}
}

.subMenuContainer__internalContainer {
	width: 100%;
	padding: 2em 1em 3em;

	@include breakpoint(medium_m) {
		width: 650px;
		margin-left: calc(5.5rem + 100px);
	}
}

.subMenu__leftColumn {
	display: none;

	@include breakpoint(medium_m) {	
		display: block;
		width: 50%;
		float: left;
		padding-right: 2em;
		padding-bottom: 2em;
	}	
}

.subMenu__title{
	display: none;

	@include breakpoint(medium_m) {
		display: block;
		margin-bottom: 1em;
		text-transform: none;
	}
}

.subMenu__copy {
	padding-right: 2em;
}

.subMenu__rightColumn {
	@extend .subMenu__leftColumn;
	display: block;
	width: 100%;

	@include breakpoint(medium_m) {
		width: 50%;
	}	

	li {
		@include v-r;
		display: block;
		float: none;
		padding: 0.75em 0;
		border-bottom: solid 1px $grey;
		margin: 0 1.5rem;
		padding: 1.25rem 1rem 0.25rem;
	
		@include breakpoint(medium_m) {
			margin-left: 0;
		}

		a {
			color: $main;
			opacity: 0.55;
			@include trans(0.4s);

			&:hover {
				opacity: 1;
			}

			&:after {
				transform: rotate(270deg); 
			}	
		}

		//&:first-of-type {
		//	padding: 0 0 0.75em 0;
		//}
	}
}	


.logo {
	font-size: 1em;
	line-height: 1;
	margin: 0 0.3em 0 0;
	float: left;
	//width: 20%;	
	opacity: 1;
	@include trans;

	&:hover {
		opacity: 0.7;
	}
}

.headerSocial {
	display: none;
	font-size: 1.25rem;

	@include breakpoint(medium_m) {
		display: block;
		float: right;
		height: $menuHeight;
		@include clearfix;
	}	
}

.headerSocial--mobile {
	display: block;

	@include breakpoint(medium_m) {
		display: none;
	}	
}	

.headerSocial__item {
	float: left;
	font-size: 1.4rem;
	
	@include v-a;

	&:last-of-type {
		margin-left: 1.5em;
	}
}

.headerSocial__item--icon {
	font-size: 1.4rem;
	opacity: 0.75;
	@include trans(0.5s);
	transform: translateY(0);

	&:hover {
		opacity: 1;
		transform: translateY(-3.5px);
	}
}

.fa-facebook {
	color: $facebook;
}

.fa-google-plus {
	color: $google;
}

// Burger buttons

.mobileNavButton {
	@include v-a;
	position: absolute;
	right: 2rem;
	z-index: 99999;
	color: $main;
	font-size: 1.5rem;

	&:hover {
		cursor: pointer;
	}

	@include breakpoint(medium_m) {	// not sure if this will work..
		display: none;
		visibility: hidden;
	}
}


/* Burger and animation class */

a.burger-link {
	z-index: 99999;
	position: fixed;
}

a.burger-link:hover {
	cursor: pointer;
}

a.burger-link i {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 3px;
  color: #000;
  font-size: 1.3em;
  line-height: 0.2em;
  font-family: arial;
  font-weight: 600;
  text-indent: 32px;
  background: green;
  transition: all 0.4s ease-in-out;
}

a.burger-link i::before, a.burger-link i::after {
	content:'';
	width: 24px;
	height: 3px;
	background: green;
	position: absolute;
	left:0;
	transition: all 0.4s ease-in-out;
}

a.burger-link i::before {
  top: -8px;
}

a.burger-link i::after {
  bottom: -8px;
}

a.burger-link.active i {
  background: rgba(62, 192, 98, 0);
}

a.burger-link.active i::before {
  top:0;
  -webkit-transform: rotateZ(405deg);
     -moz-transform: rotateZ(405deg);
      -ms-transform: rotateZ(405deg);
       -o-transform: rotateZ(405deg);
          transform: rotateZ(405deg);
}

a.burger-link.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-405deg);
     -moz-transform: rotateZ(-405deg);
      -ms-transform: rotateZ(-405deg);
       -o-transform: rotateZ(-405deg);
          transform: rotateZ(-405deg);
}

/* Mobile navigation */

.mobileMenu {
	width: 100%;
	//background-color: #cccccc; 
  	max-height: 0;
  	transition: all 1s ease-out;
  	overflow: hidden;
  	position: fixed;
    top: 0;
    z-index: 10;
    padding: 2em 1.5em 0.5em;
    //background-color: #fafafa;
    background-color: #fff;
    border-top: solid 2px #dddddd;

  	li {
      	list-style: none;
      	display: inline-block;
  		width: 100%;
  		padding: 0.5rem 0.5rem 0;
  
	  	a {
	  		display: block;
	  		color: $black;
	  		padding: 0.5rem 0;
	  		float: left;
    	}
	}
}

.menu-item--parent {
	@include trans;
	opacity: 1;
}

.hideParentMenuItem {
	opacity: 0;
}

.mobileMenu--active {
   max-height: 25em;
   margin-top: $heroTopMargin;
   margin-bottom: -$heroTopMargin;
   box-shadow: 0 8px 15px rgba(0, 0, 0, 0.22), 0 10px 20px rgba(0, 0, 0, 0.25);
}