$colors: (
  facebook: #3b5998,
  twitter: #00aced,
  pinterest: #cb2027,
  google-plus: #dd4b39,
  envelope: #738a8d
);

//body {
//  background: #eee;
//  color: #333;
//  font-family: 'Roboto', sans-serif;
//  text-align: center;
//}
.socialShareButtons {
  text-align: center;
  &__item {
    display: inline-block;
    margin: 10px;
  }
  .fa {
    background: #fff;
    border-radius: 35px;
    color: #818181;
    cursor: pointer;
    display: block;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    position: relative;
    text-align: center;
    transition: ease-in-out all 0.4s;
    width: 70px;
    &:after {
      color: #818181;
      content: attr(data-count);
      font-size: 14px;
      left: 0;
      line-height: 20px;
      position: absolute;
      text-align: center;
      top: 100%;
      width: 100%;
    }
  }
  @each $key, $color in $colors {
    .fa-#{$key}:hover {
      //box-shadow: 0 0 15px rgba($color, 0.5) inset;
      color: #fff;
      background-color: $color;
    }
  }
}