/* ---
		Typography 
---*/
html {
	font-size: 15px;
	line-height: 1.5;
	@include sans-r;
}

h1, h2, h3, h4 {
	display: inline-block;
	position: relative;
	color: $headingColor;
	margin-bottom: 1rem;
	@include heading-r;
}

h1 {
	font-size: 3.5rem;
	line-height: 3.6rem;
	margin-bottom: 1.5rem;
	@include sans-b;
}

h2 {
	font-size: 2.25rem;
	line-height: 2.69rem;
}

h3 {
	font-size: 1.75rem;
	//text-transform: uppercase;
	margin-bottom: 0.75rem;
	color: #555555;
}

h4 {
	font-size: 1.1rem;
	line-height: 1.31rem;
	margin-bottom: 0.75rem;
}

p {
	// padding: 0.5rem 1rem;
	font-size: 1.1rem;
	line-height: 1.5;
	color: #444444;
}